body{
    font-size: 100%;
    background-color: rgb(250, 246, 246);
}
h1{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-size: 1.2rem;
    text-align: center;
}
main{
    padding-top:4rem; 
    background-color:rgb(0, 255, 42);   
}
.bg-flamingo-green{
    background-color: green;
}
.intro{
    background-color:rgb(0, 255, 42);
    height:calc(100vh - 4rem);
    background-image: url(../img/graduate.jpg);
    background-repeat: no-repeat;
    background-position: center 14vh;
    background-size: 100% 66vh;
    position: relative;
}
.intro h1{
    text-align: center;
    text-shadow: rgb(8, 70, 8) 1px 1px 2px; 
}
.intro h1 span{
    font-weight: normal;
    /* font-style: italic; */
    text-transform:lowercase;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 2vh;
    width: 100%;
    margin:auto;
}

.students{
    margin: 1vh 0;
    padding: 3vh 2vw;
    background-color: white;
}
@media screen and (min-width:576px){
    .intro{
        background-position: center 8vh;
        background-size: 100% 75vh;
    }

}

@media screen and (min-width:900px){
    h1{
        font-size: 1.5rem;
    }
    .intro{
        background-position: center 5vh;
        background-size: 100% calc( 92vh - 6rem);
    }
    .intro h1 span{
        bottom: 2vh;
    }

}